<footer class="site-footer" role="contentinfo">
  <div style="text-align: center; padding-top: 1em; font-size: 0.95em;">
    <hr style="max-width: 40%; margin: 1.5em auto;" />
    
    <p>Please consider supporting my work:</p>
    <p style="margin-bottom: 1em;">
      <a href="https://github.com/sponsors/nikitakoselev" target="_blank">
        <img src="https://img.shields.io/badge/Sponsor%20on-GitHub-black?logo=github" alt="Sponsor on GitHub" />
      </a>
      <a href="https://buymeacoffee.com/2o3yfdbjpo" target="_blank" style="margin-left:10px;">
        <img src="https://img.shields.io/badge/Buy%20me%20a-Coffee-ffdd00?logo=buymeacoffee&logoColor=000" alt="Buy me a coffee" />
      </a>
    </p>


    <p>Connect with me:</p>
    <p>
      <a href="https://github.com/nikitakoselev" target="_blank">GitHub</a> |
      <a href="https://dev.to/nikitakoselev" target="_blank">dev.to</a> |
      <a href="https://www.linkedin.com/in/nikitakoselev" target="_blank">LinkedIn</a> |
      <a href="https://twitter.com/nikitakoselev" target="_blank">X (Twitter)</a>
    </p>

    <p style="margin-top: 0.5em;">
      💌 Want updates? Subscribe via <a href="/feed.xml">RSS</a>
    </p>
    <p style="margin-top: 0.5em;">
      View this site's source on <a href="https://github.com/nikitakoselev/nikitakoselev.github.io" target="_blank">GitHub</a>
    </p>
  </div>
</footer>
